/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    background-image: url("/images/background.jpg");
    background-size: 50%;
    font-family: 'Roboto', sans-serif;
}

.ffs {
    font-family: 'Anton', sans-serif;
}


/* INDEX PAGE */

.index {
    margin: 10px auto;
}

.user {
    padding: 30px;
}

.index .row .col {
    background-color: rgba(135, 135, 135, 0.5);
    text-align: left;
    margin-left: 1px;
    border-radius: 5px;
    padding: 50px;
}

.vote .row .col {
    background-color: rgba(135, 135, 135, 0.5);
    text-align: left;
    margin-left: 1px;
    border-radius: 5px;
    padding: 50px;
}

/* HIDE */
.hide {
    display: none;
    visibility: hidden;
}